* {
    margin: 0;
    padding: 0;
    }

h1{
    text-align: center;
}


.container {
    /* Establece el contenedor como flex y alinea su contenido tanto horizontal como verticalmente */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 20vh; /* Establece una altura mínima del 40% del viewport */
    padding: 10px; /* Agrega un poco de espacio interno para que no quede pegado al borde */
}

.button{
   /* font-family: 'Mulish', sans-serif;*/
    font-size: 1.8rem;
    height: 2.8rem;
    border-width: 0.3rem;
    border-radius: 0.70rem;
    border-color: #2B9935;
    background-color: /*#B39CD0*/ #57B52F;
}

.seccionPaises{
    font-family: 'Itim', cursive;
    font-size: x-large;
    font-weight: 700;
    margin: 20px;
    display: grid;
    
}

.cardPais{
    margin-top: 50px;
    background-color: rgb(188, 185, 185);
    border-radius: 60px;
    width: 350px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 400;
}

.espacioBandera{
    background-color: white;
    background-image: url(../src/imgs/bandera-olimpica.webp);
    width: 60px;
    height: 40px;
    margin-right: 20px;
}

.banderaNombre{
    display: flex;
    align-items: center;
    font-weight: 700;
}

.medallas{
    position: relative;
    margin-left: 20px;
}

.medallaPlata{
    padding-left: 50px; 
}

.medallaBronce{
    padding-left: 40px; 
}

.medallaOro::before {
    content: "";
    position: absolute;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    background-color: #fff133;
    border-radius: 10px;
}

.medallaPlata::before {
    content: "";
    position: absolute;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    background-color: #363634;
    border-radius: 10px;
}

.medallaBronce::before {
    content: "";
    position: absolute;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    background-color: #c35704;
    border-radius: 10px;
}
