* {
    margin: 0;
    padding: 0;
    }

h1{
    text-align: center;
}

main{
    background-image: url('./imgs/fondos/Fondos\ propuestas_Propuesta\ 2\ -\ 01.jpg');
    width: 100%;
    height: 820px;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Contenedor que tiene al botón*/
.container {
    display: flex;/* Establece el contenedor como flex y alinea su contenido tanto horizontal como verticalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 20vh; /* Establece una altura mínima del 20% del viewport */
    padding: 10px; /* Agrega un poco de espacio interno para que no quede pegado al borde */
}

/*boton para ingresar al sitio*/
.button{
    font-family: 'Itim', cursive;
    font-size: 1.8rem;
    height: 2.8rem;
    border-width: 0.3rem;
    border-radius: 0.70rem;
    border-color: #2B9935;
    background-color: /*#B39CD0*/ #57B52F;
}

/*Cambia el color del boton al hacer click*/
.button:active{
    background-color: #F2511C;
}

.menu{
    /*padding: .5rem; /* Agrega un espacio interno dentro del nav-bar, para que así centre los elementos "a" solo para la altura o verticalmente, no centra horizontalmente */
     /* Agrega un contenedor para los boxes y utiliza flexbox */
    display: flex;
    flex-wrap: wrap; /* Permite que los boxes se reorganicen en varias líneas si no caben en una sola */
    justify-content: space-between; /* Distribuye los boxes de manera equitativa en el contenedor */
    background-color: #2B993e;  
}

.menu a {
    font-family: 'Itim', cursive;
    font-size: 3vh; /*2.3rem*/
    color: white; /*Color para texto del menu*/
    text-decoration: none;/*Quita el subrayado por defecto que tienen los enlaces "a"*/
    /*border-style: dotted;*/
    margin: 1rem 3rem; /*Permite controlar el espacio entre los elementos que tiene a los 4 lados. 1rem (espacio de arriba y abajo) y 3rem (espacio de derecha e izquierda)*/
    /*padding: .5rem; /* Agrega un espacio interno dentro del box de los elementos "a" para que  así la letra se siga viendo grande*/
}

.menu img{
    height: 50px;
    padding: 10px;
}

.menu a:hover{
    color: #044A88;
}

.menu a:active{
    color: #F2511C;
}

.seccionAtletas{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
}

.cardAtleta{
    background-color: white;
    border-radius: 60px;
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /*justify-content: space-between; /* Distribuye los boxes de manera equitativa en el contenedor */
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 400;
    color: #044A88;
}

.seccionPaises{
    font-family: 'Itim', cursive;
    font-size: x-large;
    font-weight: 700;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.cardPais{
    margin-top: 50px;
    background-color: white;
    border-radius: 60px;
    width: 350px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: 400;
    color: #044A88;
}

.cardPais img{
    width: 85px;
    height: 40px;
    margin-right: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.banderaNombre{
    font-family: 'Quattrocento Sans', sans-serif;/*Tipografía para nombre de país y su nomenclatura*/
    display: flex;
    align-items: center;
    font-weight: 700;
}

.medallas{
    font-family: 'Quattrocento Sans', sans-serif;/*tipografía para texto de medallas*/
    position: relative;
    margin-left: 20px;
}

.medallaPlata{
    padding-left: 50px; 
}

.medallaBronce{
    padding-left: 40px; 
}

.medallaOro::before {
    content: "";
    position: absolute;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    background-color: #fff133;
    border-radius: 10px;
}

.medallaPlata::before {
    content: "";
    position: absolute;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    background-color: #363634;
    border-radius: 10px;
}

.medallaBronce::before {
    content: "";
    position: absolute;
    margin-left: -30px;
    width: 20px;
    height: 20px;
    background-color: #c35704;
    border-radius: 10px;
}

footer{
    background-color: #044A88;
    width: 100%;
    height: 50px;
    color: white;
    font-family: 'Itim', cursive;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}